/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/04/2021, 10:25:58 PM
    Author     : Jesslim
*/
.vj-tamano .card {
    height: 100%;
}

/*img del mismo tamaño*/
.vj-tamano .card img{
    height: 300px;
    object-fit: cover;
    
}
